<h1>Signup to the page</h1>
<form method="POST">
        <p>Username</p>
        <input name="uname" placeholder="username">
        <p>Password</p>
        <input name="passwd" placeholder="password">
        <input type="submit" value="signup">
        <div id='err'>#{err}</div>
</form>